{% extends "core/base.html" %}

{% block content %}

{% if form.errors %}
<div>Неправильное имя пользователя или пароль. Пожалуйста, попробуйте еще раз</div>
{% else %}
<div style="float:right; margin-right:300px; font-size: 30em">↗</div>
{% endif %}

{% endblock %}
