{% extends "core/base.html" %}
{% load markdown_filter %}
{% load filename %}

{% block title %}
Все посты
{% endblock %}

{% block section %}menu-home{% endblock %}

{% block content %}
{% for post in object_list %}

      <div class="blog-post wrapping">
        <h2 class="blog-post-title">
            <a href="{% url 'core:blog:post' post.pk %}"> {{ post.title }} </a>
            {% if request.user == post.author.user %}
                <a href = "{% url 'core:blog:edit' post.pk %}"
                    <span class="small glyphicon glyphicon-pencil pull-right">
                    </span>
                </a>
            {% endif %}
        </h2>

        <p class="blog-post-meta">

            {{ post.created_at }} by
            <a href="{% url 'core:user:user' post.author.pk %}">
                {{ post.author }}
            </a>
            <img class="img-circle userpic" src="/media/cropped/{{ post.author.userpic | filename }}" />
        </p>

        {{ post.text | markdownify | safe }}
        {% include "like/like_button.html" with object=post %}
      </div><!-- /.blog-post -->
      <hr>
{% endfor %}

{% endblock %}
