{% extends "core/base.html" %}
{% load widget_tweaks %}
{% block section %}menu-new-post{% endblock %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Edit post
    {% endif %}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <p>Название:</p>
    {% render_field form.title class="form-control" %}

    <p>Текст:</p>
    {% render_field form.text class="form-control" style="height:50%" %}
    <br>
    <input type="submit" class="btn btn-default btn-block" value="Сохранить" />
</form>
{% endblock %}
