{% extends "core/base.html" %}
{% load widget_tweaks %}
{% load markdown_filter %}
{% load filename %}


{% block section %}menu-home{% endblock %}

{% block content %}

<div class="blog-post wrapping">
    <h2 class="blog-post-title">
        <a href="{% url 'core:blog:post' post.pk %}"> {{ post.title }} </a>
        {% if request.user == post.author.user %}
            <a href = "{% url 'core:blog:edit' post.pk %}"
                <span class="small glyphicon glyphicon-pencil pull-right">
                </span>
            </a>
        {% endif %}
    </h2>
    <p class="blog-post-meta">

        {{ post.created_at }} by
        <a href="{% url 'core:user:user' post.author.pk %}">
            {{ post.author }}
        </a>
        <img class="img-circle userpic" src="/media/cropped/{{ post.author.userpic | filename }}" />
    </p>
    {{ post.text | markdownify | safe }}
    {% include "like/like_button.html" with object=post %}
    <hr>
    {% if comments %}
    <h2> Комментарии: </h2>
    <hr>
    {% endif %}
    {% for comment in comments %}
        <p class="blog-post-meta">
            {{ comment.created_at }} by
            <a href="{% url 'core:user:user' comment.author.pk %}">
                {{ comment.author }}
            </a>
            <img class="img-circle userpic" src="/media/cropped/{{ comment.author.userpic | filename }}" />
            {% if request.user == comment.author.user %}
                <a href = "#" class="edit-comment">
                    <span class="small glyphicon glyphicon-pencil pull-right">
                    </span>
                </a>
            {% endif %}
            <div class="comment-container" data-raw="{{comment.text}}" data-edit-url="{% url 'core:comment:edit' comment.pk %}">
                {{ comment.text | markdownify | safe}}
            </div>
            {% include "like/like_button.html" with object=comment %}
        </p>
        <hr>
    {% endfor %}

    {% if user.is_anonymous %}
        <a class="login-button" href="#"> Войдите </a> или <a href="{% url 'core:register' request.path %}"> зарегистрируйтесь </a>
        чтобы оставлять комментарии
        <hr>
    {% else %}
    <form action="" method="post">
        {% csrf_token %}
        <p>Оставить комментарий:</p>
        {% render_field form.text class="form-control" %}
        <br>
        <input type="submit" class="btn btn-block btn-default" value="Оставить комментарий" />
    </form>
    {% endif %}

</div><!-- /.blog-post -->

{% endblock %}
