{% extends "core/base.html" %}
{% block title %}
All users
{% endblock %}

{% block section %}menu-users{% endblock %}

{% block content %}
    <table class="table table-striped">
    <tr>
        <th>Username</th>
        <th class="text-right">Posts</th>
    </tr>
    {% for user_info in object_list %}
    <tr>
        <td>
            <a href="{% url 'core:user:user' user_info.pk %}">
                {{ user_info.user.username }}
            </a>
        </td>
        <td class="text-right">
            {{ user_info.posts.all | length }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
