{% extends "core/base.html" %}
{% load filename %}

{% block title %}
{{ object.user.username }}
<img class="img-circle userpic" src="/media/cropped/{{ object.userpic | filename }}" />
{% endblock %}

{% block section %}menu-users{% endblock %}

{% block content %}
    {% for post in object.posts.all %}
        <div class="blog-post">
          <h2 class="blog-post-title"> <a href="{% url 'core:blog:post' post.pk %}"> {{ post.title }} </a> </h2>
          <p class="blog-post-meta">{{ post.created_at }}
          </p>

        </div><!-- /.blog-post -->
        <hr>
    {% endfor %}
{% endblock %}
