{% load static %}
{% load markdown_filter %}

<head>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"
        integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js">
    </script>
    <script src="http://gregpike.net/demos/bootstrap-file-input/bootstrap.file-input.js">
    </script>
    <script src="{% static 'like/like.js' %}"></script>
    <script src="{% static 'comment/edit.js' %}"></script>
    <link rel="stylesheet" href="{% static 'core/blog.css' %}" />
    {% block head %}

    {% endblock %}
</head>

<body>
    <div class="blog-masthead">
      <div class="container" data-active="{% block section %} {% endblock %}" id="menu">
        <nav class="blog-nav">
          <a id="menu-home" class="blog-nav-item" href="/">Posts</a>
          <a id="menu-users" class="blog-nav-item" href="{% url 'core:user:users' %}">Users</a>
          <a id="menu-new-post" class="blog-nav-item" href="{% url 'core:blog:new' %}"> New post </a>
          {% if user.is_anonymous %}
            <a id="menu-login" class="login-button blog-nav-item pull-right" href="#"> Login </a>
          {% else %}
            <a class="blog-nav-item pull-right" href="{% url 'core:logout' request.path %}"> Logout </a>
            <span class="blog-nav-item pull-right"> Howdy, {{ user.username }}? </span>

          {% endif %}
        </nav>
      </div>
    </div>
    {% include "core/login_popup.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 blog-header">
                <h1 class="blog-title text-center">
                    {% block title %}
                    {% endblock %}
                </h1>
                <p class="lead blog-description">
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 blog-main">
                {% block content %}
                {% endblock %}
            </div> <!-- /.blog-main -->
        </div> <!-- /.row -->
    </div>

    <script src="{% static 'core/blog.js' %}">
    </script>
</body>
