
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <div class="alert alert-danger" style="display:none" id="incorrect-credentials">
            Incorrect login or password
          </div>
          <form role="form" id="login_form" method="post" action="{% url 'core:login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{request.path}}" />
            <div class="form-group">
              <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" name="password" id="psw" placeholder="Enter password">
            </div>
            <!--<div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
          </div>-->
              <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>-->
          <p>Not a member? <a href="{% url 'core:register' request.path %}">Sign Up</a></p>
          <!--<p>Forgot <a href="#">Password?</a></p>-->
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="error-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header modal-error">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title modal-error">Oops! We have encountered an error</h4>
        </div>
        <div class="modal-body">
          <p id="error-modal-error-text">Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="hidden" id="ajax-data" data-csrf="{{ csrf_token }}"
                                   data-url="{% url 'core:login' %}">
</div>

<script>
$(document).ready(function() {
    $(".glyphicon-eye-open").mousedown(function() {
        $("#psw, #psw-register").attr("type", "text");
    });
    $(".glyphicon-eye-open").mouseup(function() {
        $("#psw, #psw-register").attr("type", "password");
    });
});
</script>
