{% extends "core/base.html" %}

{% block section %}menu-login{% endblock %}

{% block title %}Регистрация{% endblock %}

{% block content %}

<form role="form" id="register-form">
  <div class="alert alert-danger" style="display:none" id="incorrect-credentials-register">
  </div>
  <div class="form-group">
    <label for="username"><span class="glyphicon glyphicon-user"></span> Username</label>
    <input type="text" placeholder="30 characters or fewer. Letters, digits and @/./+/-/_ only" class="form-control" id="username-register">
  </div>
  <div class="form-group">
    <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
    <input type="password" placeholder="Not too simple. At least 8 characters" class="form-control" id="psw-register">
  </div>
  <!--<div class="form-group">
      <label for="id_userpic"><span class="glyphicon glyphicon-folder-open"></span> Userpic</label>

      <input class="btn btn-primary" id="id_userpic" name="userpic" type="file" /></p>
  </div>-->
  <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-off"></span> Sign up</button>
</form>

<div class="hidden" id="ajax-register-data" data-url="{% url 'core:register' next_page %}">
</div>

<script>
$(document).ready(function() {
    $("#register-form").submit(function(event) {
        $("#incorrect-credentials-register").fadeOut();
        $("#incorrect-credentials-register").text("");
        event.preventDefault();
        var csrf = $("#ajax-data").data("csrf");
        var registerUrl = $("#ajax-register-data").data("url");
        $.ajax({
            url : registerUrl,
            type : "POST",
            data : { "username": $("#username-register").val(),
                     "password1": $("#psw-register").val(),
                     "password2": $("#psw-register").val(),
                     /*"userpic": $("#id_userpic").val(), */
                     "csrfmiddlewaretoken": csrf}, // data sent with the post request
            // handle a successful response
            success : function(json) {
                if (json["success"]) {
                    console.log("SUCCESS");
                    console.log(json)
                    window.location.assign(json["next"])
                } else {
                    console.log("FAIL");
                    console.log(json);
                    var error_set = {}
                    for (var reason in json["errors"]) {
                        for (var error in json["errors"][reason]) {
                            error_set[json["errors"][reason][error]] = 1;
                        }
                    }
                    for (var error in error_set) {
                        $("#incorrect-credentials-register").append(error + "<br>");
                    }
                    $("#incorrect-credentials-register").fadeIn();
                }
            },

            // handle a non-successful response
            error : function(xhr, errmsg, err) {
                $("#error-modal-error-text").html(errmsg + "\n" + xhr.status + ": " + xhr.responseText);
                $("#error-modal").modal();
            }
        });
    });
});
</script>

{% endblock %}
